div {
    background-color: rgba(0,200,0,.3);
    color: rgba(0,100,0,.2);
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: bold;
    margin: -10px;
    padding: 12px;
}    
.Main{
    
    margin: 10px auto;
    padding: 12px;
    text-align: center;


}
.Main{
    border-width: 10px;border-style: double;border-color rgba(25,100,20,.5);border-radius: 5px;
}

.Products {
  display:flex;
  flex-direction:row;
}
.Products li{
  list-style-type: none;
  text-align: center;
  background: yellow;
  padding: 12px;
  border: 4px solid green;
  height: auto;
  width: auto;
  flex: 1 1 0;
  margin-left: -37px;
  margin-right: 2px;
}   

a{
   
    text-decoration: none;
    color: rgba(50,0,0,.3);

}
